.modal {
	z-index: 2;
	width: 100%;
	position: fixed;
	height: 100%;
	display: inline-block;
	position: fixed;
	inset: 0;
	/* background-color: rgb(95 89 89 / 60%); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* transition: all 0.3s ease-in-out; */
	overflow: hidden;
	z-index: 3;
	padding: 40px 20px 20px;
	background: rgba(0, 0, 0, 0.16);
}
.container {
	width: 460px;
	height: 314px;
	max-width: 100%;
	left: calc(50% - 460px / 2);
	top: calc(50% - 314px / 2 - 0.5px);
	padding: 32px;
	background: #ffffff;
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
	border-radius: 12px;
}
.top {
	margin-bottom: 24px;
	justify-content: space-between;
	display: flex;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	/* identical to box height, or 130% */

	/* Work Presets/Text White Mode/Primary_G800 */

	color: #333333;
}

.closeModal {
	width: 28px;
	height: 28px;
	color: #b3b3b3;
	/* Black Alpha/Alpha 4 */

	background: rgba(0, 0, 0, 0.04);
	border-radius: 100px;
	padding: 4px;
}
.content {
	width: 100%;
	/* height: 100%; */
	height: 132px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='80' height='80' rx='40' fill='%23E84E58' fill-opacity='0.15'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.9998 20.7998C29.4014 20.7998 20.7998 29.4014 20.7998 39.9998C20.7998 50.5982 29.4014 59.1998 39.9998 59.1998C50.5982 59.1998 59.1998 50.5982 59.1998 39.9998C59.1998 29.4014 50.5982 20.7998 39.9998 20.7998ZM32.4095 31.4835C32.7319 31.161 33.2548 31.161 33.5772 31.4835L40 37.9062L46.4225 31.4838C46.745 31.1613 47.2678 31.1613 47.5903 31.4838L48.758 32.6515C49.0805 32.974 49.0805 33.4968 48.758 33.8192L42.3355 40.2417L48.7579 46.6641C49.0804 46.9865 49.0804 47.5094 48.7579 47.8318L47.5902 48.9996C47.2677 49.322 46.7449 49.322 46.4224 48.9996L40 42.5772L33.5773 48.9998C33.2549 49.3223 32.7321 49.3223 32.4096 48.9998L31.2419 47.8321C30.9194 47.5096 30.9194 46.9868 31.2419 46.6643L37.6645 40.2417L31.2417 33.819C30.9193 33.4965 30.9193 32.9737 31.2417 32.6512L32.4095 31.4835Z' fill='%23E84E58'/%3E%3C/svg%3E");
}
.closeButton {
	display: flex;
	justify-content: flex-end;
}
