* {
	box-sizing: border-box;
}
body,
html {
	height: 100%;
	padding: 0;
	margin: 0;
	background: #f4f4f5;
}

.wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 800px;
	margin: 0 auto;
	background: #ffffff;
	border-radius: 12px 12px 0px 0px;
}
